:root {
    --color-bg: #131921;
    --color-border: #3b4149;
    --btn-bg-color: rgb(209, 150, 77);
    --linkcolor: #bfbfbf;
}


/* ------------------------------------home---------------------------------- */

.bs-form {
    padding: 0.8rem;
}

/* Header part */
.header-master-main {
    background-color: var(--color-bg);
    background-color: var(--color-border);
    height: 50px;
}

.header-master-sec {
    background-color: var(--color-bg);
    background-color: var(--color-border);
    height: fit-content;
    display: flex;
    gap: 350px;
}

nav.navbar {
    color: rgb(249, 238, 238);
}

a.nav-link {
    color: white;
}

a.navbar-brand {
    color: white;
}

a.nav-link.active {
    color: white;
}

BsSearch.search {
    background-color: white;
    height: 11px;
    margin-top: 1px;
}

.nav-btn-color>button {
    background-color: var(--btn-bg-color);
    color: black;
    border-color: transparent;
}

.nav-btn-color>button:hover {
    background-color: rgba(209, 150, 77, 0.89);
    color: black;
    border-color: transparent;
}

.navbar-nav {
    a {
        display: flex;
        gap: 0.7rem;
    }

    a:hover {
        color: var(--btn-bg-color);
    }

    i:hover {
        color: var(--btn-bg-color);
    }
}

/* header ends */

.navbar-collapse {
    background-color: var(--color-border);
    /* Same as the navbar background color */
}

/* header logo flipper */
.ReactFlipCard__container,
.ReactFlipCard__flipCard {
    width: fit-content;
    height: fit-content;
}

.offer,
.contact-info {
    text-align: center;
}

.offer p,
.contact-info p {
    margin: 0;
    padding: 5px 0;
}

.banner {
    margin-top: 40px;
    width: 100vw;
    height: 45%;
    padding: 30px;
}

.carousel-caption {
    top: 0px;
    margin-left: -10px;
    width: 40%;
    color: black !important;
}

.product-inner-wrapper {
    margin: 1rem;
    display: grid;
    gap: 1rem;

    .product-caption {
        width: 50%;
    }
}

/* max-width:767px; */
#sec-nav {
    padding: 0px !important;

    a {
        margin-left: 1rem;
    }

    button {
        margin-right: 1rem;
    }

    height: max-content;
    padding-bottom: 0.8rem !important;
    padding-top: 0.8rem !important;
}

@media (width<=992px) {

    .offer,
    .contact-info {
        font-size: 12px;
        /* Adjust font size for smaller screens */
    }

    .navbar-collapse {
        padding: 20px;
        width: 100vw;
    }

    .dropdown-menu {
        width: 100vw !important;
        /* Ensures the dropdown menu spans the full width of the viewport */
        left: 0 !important;
        /* Aligns the dropdown menu to the left */
    }

    .header-master-sec {
        flex-direction: column;
        gap: 0.1rem;
        justify-items: center;
    }

    .carousel-caption {
        top: auto;
        left: auto;
        width: fit-content;
        height: fit-content;
    }

}

@media (max-width: 997px) {
    .banner {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .banner>.col {
        margin: 10px;
    }
}

.navbar-toggler:focus {
    color: transparent;
}

.footer {
    background-color: #343a40;
    /* Dark background color */
    color: #ffffff;
    /* White text color */
    margin-top: 1rem;
}

.footer-row {
    row-gap: 1rem;

    div {
        div {
            width: fit-content;
            margin: auto;
        }

        place-items: center center;

    }
}

.footer h5 {
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}

.footer p,
.footer a {
    color: #bfbfbf;
}

.footer a:hover {
    color: #ffffff;
}

.social-icons a {
    color: #ffffff;
    margin-right: 20px;
}

.social-icons a:hover {
    color: #007bff;
}

.carousel-inner {
    border-radius: 14px;
}

.banner-btn {
    border-radius: 22px !important;
    background-color: var(--btn-bg-color) !important;
    border-color: transparent !important;
    color: var(--color-bg) !important;
    font-size: 12px !important;
    padding: 10px 20px !important;
}

.banner-btn:hover {
    background-color: var(--color-bg) !important;
    color: white !important;
}



.marquee-height {
    height: 125px;
    width: 90vw !important;
    margin: auto;
    border: 2px solid transparent;
    /* box-shadow: -1px 1px 10px white; */
}

.marquee-wrapper {
    position: relative;
    height: 100%;
}

.brand-div {
    width: 13vw;
    padding: 0rem;
    height: 100%;
}

.marque-img {
    object-fit: cover;
    width: 70%;
}

.rfm-marquee-container {
    position: absolute !important;
    height: 94% !important;
    overflow-y: hidden;
    padding: 0px;
    background-color: rgb(235, 241, 247);
}

.marquee-wrapper:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 90%;
    z-index: 2;
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(235, 241, 247), rgb(235, 241, 247), rgb(235, 241, 247), rgb(235, 241, 247));
}

.marquee-wrapper:before {
    position: absolute;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(235, 241, 247), rgb(235, 241, 247), rgb(235, 241, 247), rgb(235, 241, 247));
    top: 0;
    left: 0;
    width: 10%;
    height: 90%;
    z-index: 2;
    content: "";
}

.product-card {
    text-decoration: none;
    position: relative;
    color: black;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.3rem;
    display: grid;
    /* height: fit-content; */
    padding: 1rem 1rem;
    height: max-content;
    grid-template-rows: 100%;
    gap: 1rem;
    place-items: center;
    overflow: hidden;
    cursor: auto;
    /* grid-template-rows: 100%; */
}

.cross {
    width: 1rem;
    height: 1rem;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    position: absolute;
    right: 0.4rem;
    top: 0px;
}

.action-bar {
    display: grid;
    grid-template-columns: max-content;
    top: 2.5rem;
    /* left: 100%; */
    right: -2rem;
    height: 10px;
    gap: 1rem;
    transition: 0.5s;
}

.product-card:hover .action-bar {
    right: 0.5rem;
}

.action-icon svg {
    cursor: pointer;
    color: black;
    width: 1rem;
    height: 1rem;
}

.product-image {
    display: grid;
    place-items: center;
    /* text-align: center; */
    height: 100%;

    /* object-fit: contain; */
    img {
        width: 70%;
        height: 60%;
    }
}

.product-desc {
    /* place-self: center; */
    justify-content: start;
    justify-items: start;
    display: grid;
    margin-top: 1.5rem;

    p {
        width: fit-content;
        margin-bottom: 0.2rem;
        /* text-wrap: wrap; */
    }

    .product-brand {
        font-size: small;
    }

    .product-caption {

        padding: 0.1rem 0rem;
        font-weight: bolder;
        font-size: 0.9rem;
        text-align: left;
    }

    h6 {
        text-align: center;
        margin-bottom: 0px;
        font-size: small;
        color: rgb(240, 128, 17);
    }

}

.product-sub-caption {
    font-size: 0.9rem;
    color: var(--linkcolor);
}

.prod-price {
    font-size: 0.8rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    place-items: center;
    /* place-content: center; */

}

.single-grid {
    justify-self: start;
    align-items: center;
    grid-template-rows: 100%;
    height: 100%;
    gap: 3rem;
}

.multi-grid {
    height: 100%;
    grid-template-rows: repeat(5, max-content);
}

.single-prod {
    height: 100%;
}

/* ---------------------------------blog------------------------- */

.blog-wrapper {
    /* .container {
        padding: 0px;
    } */
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 100%;
    width: 80%;
    margin: auto;
    justify-content: start;

    margin-top: 2.5rem;

    h3 {
        font-size: large;
        font-weight: 700;
    }

    p {
        color: #7b6c6c;
    }

    /* box-sizing: content-box; */
    /* place-content: center; */
}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    height: inherit;
    margin-top: 1rem;
}

.blog-card-wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    /* gap: 2rem; */
    grid-template-rows: 200px auto;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
    }

}

.blog-text {
    display: grid;
    background-color: white;
    padding: 1rem;

    p {
        font-size: medium;
        font-weight: 500;
    }

    h3 {
        font-size: large;
        font-weight: 600;
    }

    border-end-end-radius: 0.7rem;
    border-end-start-radius: 0.7rem;
}

.blog-btn {
    /* height: fit-content !important; */
    padding: 0.3rem 0.6rem !important;
    background-color: var(--color-bg) !important;
    color: white !important;
}

.blog-btn:hover {
    background-color: var(--btn-bg-color) !important;
    border-color: transparent !important;
    color: var(--color-bg) !important;
}

.blog-shop-category {
    grid-template-columns: max-content auto;
    height: max-content;
    width: 85%;

    h5 {
        font-weight: bolder;
    }

    margin: auto;
    gap: 1rem;

    .blog-category {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding: 1rem 2rem;
        border-radius: 0.3rem;
        height: max-content;
        background-color: white;
        display: grid;
        grid-template-rows: max-content max-content;
        gap: 2rem;

        .category-links {
            display: grid;
            place-self: start;

            a {
                color: black;
            }
        }
    }

    .single-blog-desc {
        gap: 1rem;

        h5 {
            letter-spacing: 0.5cqh;
        }

        display: grid;
        grid-template-rows: max-content auto max-content max-content max-content;

        img {
            width: 100%;
            height: 100%;
        }

        p {
            font-size: 14px;
            color: #0d0d0d94;
        }

        .icons-div {
            padding: 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .blog-icons {
                justify-self: end;
                gap: 1rem;
                display: grid;
                grid-template-columns: repeat(2, max-content);
            }
        }

        .blog-comment-section {
            display: grid;
            gap: 2rem;
            padding: 2rem 1.5rem;
            background-color: white;
            border-radius: 1rem;
        }
    }
}

.blog-area {
    display: grid;
    grid-template-rows: max-content;
    gap: 2rem;
    margin-bottom: 3rem;
}

@media screen and (width<=1180px) {
    .blog-cards {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

/* ------------------------------navbar----------------------------- */

.navbar {
    padding: 0px !important;
}

#third-nav {

    background-color: black;
    height: 100% !important;
    flex-wrap: wrap;
    display: flex;
    padding-left: 9rem;
    padding-right: 9rem;
    flex-direction: row;
    gap: 1rem;
    width: 100vw;

    .nav-link {
        color: var(--linkcolor);
    }

    .nav-link:hover {
        color: white;
    }

    .dropdown {
        width: 7rem;
    }
}

.third-nav-outer {
    height: fit-content;
}

#third-nav {
    width: 100%;
}

@media (width<=735px) {
    #third-nav {
        a {
            display: grid;
            place-content: center;
        }

        display: grid;
        grid-template-rows: repeat(5, 1fr);
        place-content: center;
    }

}

#basic-nav-dropdown {
    color: white;

}

/* ---------------------- My Store------------------------*/
.breadcrumb {
    margin: 0px !important;
}

.store-wrapper {
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-columns: 30% auto;
    height: fit-content;
    width: auto;
    gap: 1rem;
}

@media screen and (width <=545px) {
    .store-wrapper {
        display: flex;
        flex-direction: column;
        place-items: center;
    }
}

@media (width>=0px) and (height >=0px) {
    #back-to-top-anchor {
        min-height: 0px !important;
    }

}


.store-filter {
    row-gap: 1rem;
    display: grid;
    grid-template-rows: repeat(4, max-content);
    width: fit-content;

    div {
        background-color: white;
        font-size: 1rem;
        font-weight: 600;
        color: #1c1c1b;
        padding: 0.3rem;
        border-radius: 1rem;
        /* padding: 1rem; */
    }
}

.store-filter>div {
    padding: 1rem;
    /* padding: 1rem; */
}

.store-res-wrapper {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 100%;
    row-gap: 1rem;
    max-width: 100%;
    min-width: 100%;
}

.sort-by-nav {
    /* border: 2px solid black; */
    display: grid;
    width: inherit;
    grid-template-columns: max-content auto;
    height: fit-content;
    padding: 0.3rem;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    gap: auto;

    .sort-by {
        display: grid;
        grid-template-columns: max-content auto;
        width: fit-content;
        align-content: center;
        margin-left: 1rem;
        grid-template-rows: 100%;
        gap: 1rem;

        #prod-sort {
            height: 100%;
        }

        p {
            margin: 0px;
            height: 100%;
        }
    }

    .display-setting {
        div {
            svg {
                cursor: pointer;
                border-radius: 0.4rem;
                background-color: #f2f2f2;
                padding: 0.1rem;
                margin-right: 0.3rem;
            }

            svg:nth-child(2) {
                padding: 0.4rem;
            }

            svg:hover {
                background-color: black
            }
        }

        margin-right: 1rem;
        justify-self: end;

        p {
            margin-right: 0.4rem;
            margin-bottom: 0px;
        }

        display: grid;
        width: fit-content;
        align-content: center;
        justify-items: end;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
}

.store-result-area {
    background-color: white;
    width: inherit;
    border-radius: 1rem;
    /* grid-template-rows: repeat(100, 12rem); */
    /*replace 100 by number of rows*/
    /* .sorted-prod {
        border: 2px solid black;
    } */
}

.category-filter-list {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    ul {
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 2rem;
        list-style: none;

    }
}

.checked-input {
    accent-color: rgb(250, 117, 8);
    cursor: pointer;
}

.color-picker {
    .makeStyles-root-1 {
        display: grid !important;
        gap: 1rem;
        /* place-self: center; */
        place-items: center;
        grid-template-rows: repeat(2, max-content);

        div {
            height: 100%;
        }
    }

    .makeStyles-root-1>div {
        height: 3rem;
    }
}

.product-tag {
    height: fit-content;
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stock-filter-list {
    .Price-input {
        gap: 1rem;
        display: grid;
        grid-template-rows: repeat(3, max-content);

        form {
            font-size: large;
            font-weight: lighter;
            width: 50%;
        }
    }

    gap: 1rem;

    .filter-input {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 1rem;
    }

    h5,
    h3 {
        font-weight: bolder;
        font-size: large;
    }

    label {
        font-weight: lighter;
    }

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    grid-template-rows: max-content max-content max-content 3fr;
    height: fit-content;
}

@media (width<=1087px) {

    /* width<=820px */
    .sort-by-nav {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        place-items: center;

        .sort-by {
            margin: 0px;
            place-self: center;
        }

        .display-setting {
            place-self: center;
            margin: 0.5rem;

            p {
                place-self: center;
            }
        }
    }
}

/* --------------------------contact---------------------------- */
.contact-us-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin: 3rem;
}

.map-location {
    iframe {
        width: 100%;
        border-radius: 1rem;
    }
}

/* ------------contact-info--------------------- */
.contact-us {
    display: grid;
    /* place-items: center; */

}

.contact-req {
    width: 100%;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.comment {
    background-color: rgb(0 0 0 / 6%);
}

.MuiBox-root {
    display: grid;
    row-gap: 1rem;
}

.MuiFormControl-root {
    width: 100% !important;
    margin: 0px !important;
}

.reach-us {

    display: grid;
    grid-template-rows: repeat(4, 10%);
    row-gap: 1rem;
    padding: 0px;

    /* place-items: center; */
    div {
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 1rem;
        margin-left: 1rem;
        place-items: center;

        .MuiSvgIcon-root {
            margin: 0px !important;
        }
    }
}

/* .contact-us{
    display: grid;
    place-items: center;
} */

/* ----------------------------------login------------------------------ */
.login-wrapper>div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.login-wrapper>div>form {
    .text-end {
        padding-top: 1rem;
    }

    /* div{
        place-self: center;
    } */
    .Button-wrapper {
        display: flex;
        justify-content: space-evenly;
        place-self: center;
        width: auto;
        border-radius: 1rem;
        gap: 1rem;
    }
}

.login-inner-wrapper {
    width: fit-content !important;
}

/* ---------------------------form controll------------------------ */

.form-control {
    background-color: #e7e7e7 !important;
}


/* ---------------------scrollTotop--------------------------- */
button[aria-label="scroll back to top"]:hover {
    background-color: #007bff;
}

/* ------------------------------------Single product details-------------------------- */
.Product-detail-page {
    display: grid;
    grid-template-rows: 5fr max-content 2fr 2fr;
    row-gap: 1rem;
    width: 100%;
}

.reviews {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
}

.Product-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    height: fit-content;
    gap: 1rem;
    margin: 1rem 5rem;
}

.main-sub-prod {
    display: grid;
    grid-template-rows: repeat(2, auto);
    background-color: white;
    padding: 1rem;
    row-gap: 1rem;

    .EasyImageZoomOnMoveContainer {
        border: 1px solid black;
        min-width: 100%;
        display: grid !important;

        /* place-self: center; */
        img {
            place-self: center;
            width: 70%;
            height: 70%;
            object-fit: contain !important;
        }

    }
}

.main-prod-desc {
    background-color: white;
    border-bottom: 1px solid rgb(197, 189, 189);
    padding: 1rem;
    font-size: small;
}
.main-prod-desc h5{
    font-size: medium;
    font-weight: 900;
}

.sub-prod {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    div {
        border: 1px solid black;

        img {
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
}

/* -------------------------------cart page---------------------------- */

.Cart-page {
    display: grid;
    padding: 1rem;
}

.cart-btn {
    height: fit-content !important;
    padding: 0.2rem 1rem !important;
    place-content: center;
}

/* .product-meta {
    display: grid;
    grid-template-columns: 2fr 0.7fr max-content 0.5fr;
    height: fit-content;
    padding: 1rem;

    div {
        border: 1px solid black;
    }
} */

.product-meta {
    display: grid;
    grid-template-columns: 3fr 0.5fr 2fr max-content;
    height: fit-content;
    gap: 1rem;
    padding: 1rem;
    /* 
    div {
        border: 1px solid black;
        to check layout
    } */

    grid-template-rows: 10rem;
}

.cart-prod-img-fit {
    display: grid;
    grid-template-rows: 1.5rem auto;
}

.cart-products {
    display: grid;
    grid-template-columns: 15% auto;
    place-items: center;

}

.cart-img {
    height: 6rem;
    width: 4rem;
    object-fit: contain;
    justify-self: start;

    img {
        width: 100%;
        height: 100%;
    }
}

.cart-prod-desc {
    width: fit-content;
    height: fit-content;
    justify-self: start;
    align-self: center;
    font-size: 0.5rem;
    line-height: 1rem;

    p {
        margin: 0px;
    }
}

.qty-counter {
    display: grid;
    background-color: white;
    grid-template-rows: min-content;
    grid-template-columns: 2fr 1fr;
}

.qty {
    padding: 0.3rem;
    width: 100%;
    height: 100%;
}

.qty-border {
    border: 1px dotted rgb(69, 55, 55) !important;
    width: 100%;
}

.qty-btn {
    place-self: center;
    display: grid;
    height: fit-content;
    width: 100%;
    grid-template-rows: 1fr 0.1fr 1fr;
    place-items: center;

    svg {
        cursor: pointer;
        margin: auto;
    }
}

.cart-prod-price,
.cart-total {
    font-size: 0.6rem;
    font-weight: 900;
    align-self: center;
    justify-self: end;
}

.qty-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: start;

    div {
        place-self: center;

    }
}

/* giving border up side */
.PRODUCT,
.PRICE,
.QUANTITY,
.TOTAL {
    border-bottom: 1px solid black;
    width: 100%;
    height: 0px;
}

.BOTTOM-BORDER {
    height: 0px;
    width: 98%;
    border-bottom: 1px solid black;
    margin: 1rem;

}
.BOTTOM{
    height: 0px;
    width: 90%;
    border-bottom: 1px solid rgb(238, 231, 231);
    margin: auto;
}

/* -------------------checkout--------------------------------- */
.checkout-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-self: center;
    place-items: center;
}

.payment-stepper {
    display: grid;
    width: fit-content;
    padding: 3rem;
    margin-left: 7rem;
    padding-left: 1rem;
    gap: 1rem;
    border-right: 1px solid rgba(118, 109, 109, 0.66);
    margin-top: 1rem;
    padding-top: 1rem;
}

.contact-info-name {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.location-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.payment-contact-info {
    display: grid;
    grid-template-columns: 3fr auto;
    gap: 1rem;
    place-items: center;
    margin : 1rem 0rem;
    .Mui-disabled {
        cursor: not-allowed;
    }
}

.payment-navigation>div {
    display: grid;
    gap: 1rem;

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}

.product-checkout {
    display: grid;
    grid-template-columns: 4rem auto 1fr;
    gap: 1rem;
}

.checkout-product-description {
    padding-top: 1rem;

    h5 {
        font-size: x-small;
        font-weight: 50rem;
    }

    p {
        font-size: 0.7rem;
        color: rgb(117, 113, 113);
    }
}

.checkout-price {
    justify-self: end;
    align-self: center;

    h5 {
        margin: 0px;
        font-size: small;
        align-content: center;
    }

}

.checkout-prod-img {
    align-self: center;
    justify-self: start;
    position: relative;

    img {
        width: 3rem;
        height: 4rem;
        border-radius: 0.3rem;
        border: 1px solid rgb(168, 162, 162);
    }

}

.product-quantity-circle {
    display: grid;
    place-content: center;
    padding: 0.1rem;
    font-size: x-small;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: rgba(101, 97, 97, 0.742);
    position: absolute;
    right: -9%;
    top: -12%;

}

.decorator-line {
    border-bottom: 1px solid rgba(77, 74, 74, 0.224);
    margin-top: 0.6rem;
}

.checkout-subtotal,
.checkout-shipping-amount {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: start;

    .amount {
        justify-self: end;
    }
}

.usd {
    font-size: xx-small;
    color: rgb(115, 110, 110);
}

.text-bold {
    font-weight: 600;
    font-size: larger;
    /* background-color: rgba(235, 7, 7, 0.34); */
}

/* ------------stepper height adjust---------------- */
.MuiPaper-root {
    height: max-content !important;
    padding: 0.7rem !important;
    background-color: #f5f5f7 !important;
}
.MuiStepLabel-iconContainer{
    width: fit-content;
    height: fit-content;
}

.stepper-hero{
    display: grid;
    gap: 1rem;
}

.stepper-main{
    font-size: small;
    font-weight: 300;
    border-radius: 0.3rem;
    display: grid;
    border: 1px solid rgb(165, 165, 165);
    width: 100%;
    padding: 0.4rem;
    padding-bottom: 0.3rem;
    height: fit-content;

}

/* ------------------------------------MUI input customized------------------------ */
.MuiInputBase-root{
   height: inherit;
}
.MuiInputLabel-root{
   top: -10px !important;
}
.MuiFormControl-root{
    display: grid !important;
    height: 2.4rem !important;
    font-size: small;
    align-content: center;
}